.register-form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px auto 10px auto;
    width: 30%; 
  }
  
  .register-form input {
    margin: 10px;
  }
  
  .register-form button {
    width: 50%;
    margin: 10px auto;
  }